# pyproject.toml

[build-system]
requires = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "yirgacheffe"
version = "0.6.27"
description = "Abstraction of gdal datasets for doing basic math operations"
readme = "README.md"
authors = [{ name = "Michael Dales", email = "mwd24@cam.ac.uk" }]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: ISC License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = ["gdal", "numpy", "math"]
dependencies = [
    "numpy",
    "gdal",
]
requires-python = ">=3.9"

[project.optional-dependencies]
dev = ["mypy", "pylint", "pytest", "h3"]

[project.urls]
Homepage = "https://github.com/quantifyearth/yirgacheffe"

[project.scripts]
realpython = "reader.__main__:main"

[[tool.mypy.overrides]]
module = "osgeo.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "h3.*"
ignore_missing_imports = true
