.md-header {
  background-color: #065f65 !important;
}

/* Hide enum member values */
.doc-attribute .doc-heading code .o,
.doc-attribute .doc-heading code .s1 {
    display: none;
}

/* Hide class-attribute and instance-attribute labels for enum members */
.doc-attribute .doc-labels {
    display: none;
}